.categoryLabel{
    padding: 8px 16px;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.categoryBox{
    padding: 25px;
    background-color: #fff;
    overflow-x: auto;
}

.active {
    background: linear-gradient(90deg, #3dd49d 0%, #3dd479 100%);
    color: white;
}